doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", type="image/png", href="../public/images/favicon.png")
  body
    block content

    script(src="/javascripts/main.js")
